html,
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #4e4e4e;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

h4,
h5,
h6,
h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

label {
    display: block;
    font-size: 1.3rem;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 45px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    color: #4e4e4e;
    padding: 0 20px;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
}

button {
    width: 100%;
    border: none;
    background-color: #4e4e4e;
    height: 45px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 10px 0;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

textarea:focus,
input:focus {
    outline: none;
}

.main-container {
    display: grid;
    grid-template-columns: auto calc(200px + 25%);
}

.hero-section-container {
    background: linear-gradient(39.33deg, #5a57eb 0%, #8f57eb 98.35%);
    min-height: 100vh;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-container h1 {
    font-size: 3.5rem;
    margin: 0 0 30px;
}

.hero-section-container p {
    font-size: 1.2rem;
    margin: 0;
}

.hero-text-box {
    max-width: calc(350px + 28%);
    padding-bottom: 100px;
    margin: 100px 0;
}

.form-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section-container form {
    max-width: 60%;
    padding-bottom: 30px;
    margin: 100px 0;
}

.form-section-container form h3 {
    text-align: center;
}

.form-section-container form h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 10px 0 30px;
    text-align: center;
}

img.logo {
    width: calc(450px + 20%);
}

#sign-up-confirmation-message-box {
    margin: 100px 0;
    display: none;
    text-align: center;
    margin-bottom: 100px;
}

#sign-up-confirmation-message-box h3 {
    font-size: 1.6rem;
}

@media (max-width: 1000px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .hero-section-container {
        min-height: 0;
    }

    .hero-text-box {
        width: 600px;
        max-width: 90%;
    }

    img.logo {
        width: 100%;
    }
}
